:root {
  /* стиль тексту */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* кольори тексту */
  --site-text-color: #757575;
  --link-text-color: #212121;
  --contacte-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-title-text-color: #ffffff;
  --studiologo-header-text-color: #000000;
  --weblogo-text-color: #2196f3;
  --title-text-color: #212121;
  --weblogo-footer-text-color: #2196f3;
  --studiologo-footer-text-color: #ffffff;
  --footer-address-text-color: #ffffff;
  --footer-contact-text-color: rgba(255, 255, 255, 0.6);
  --icon-color: #AFB1B8;

  /* Кольори фону */
  --background-site-color: #e5e5e5;
  --backgroud-header-color: #ffffff;
  --background-hero-color: #2f303a;
  --background-btn-color: #f5f4fa;
  --backgroud-footer-color: #2f303a;
  --background-team-color: #f5f4fa;
  --background-btn-hover-kolor: #188ce8;
}

body {
  font-family: var(--main-font), var(--secondary-font);
  font-size: 14px;
  line-height: 1.71;
  color: var(--site-text-color);
}

/* початок загального стилю */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
/* Reset стилів */
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Контейнер */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* хедер */
.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--backgroud-header-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--weblogo-text-color);
  margin-right: 93px;
}

.header-studio {
  color: var(--studiologo-header-text-color);
}

/* Хедер Nav навігація*/
.header-list {
  display: flex;
}
.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}
.curent {
  color: var(--accent-text-color);
}
/* Хедер контакти */
.header-group {
  margin-left: auto;
}
.header-contact {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}
.header-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacte-text-color);
}

.header-contact-link:hover,
.header-contact-link:focus 

{
  color: var(--accent-text-color);
}

.header-icon {
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
}
.header-icon:hover,
.header-icon:focus {
  fill: currentColor;
}

/* Герой */
.hero {
  background-color: var(--background-hero-color);
  padding: 200px 0;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/HW04/img17.jpg);
  background-color: var(--background-hero-color);
}

.hero-title {
  width: 646px;
  margin: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-text-color);
}

/* кнопка */
.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--hero-title-text-color);
  background-color: var(--accent-text-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--background-btn-hover-kolor);
}

/* переваги */

.box-icon {
 
  

  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
}

.benefits-list {
  display: flex;
}
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list-item {
  width: 270px;
}
.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text {
  margin: 0;
  letter-spacing: 0.03em;
}
/* список послуг */
.services {
  padding-bottom: 94px;
}
.servise-title {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
}
.servise-list-item:not(:last-child) {
  margin-right: 30px;
}
/* команда */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  box-sizing: border-box;

  background: var(--background-team-color);
}

.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-list-item {
  width: 270px;
  
  left: 215px;
  top: 1635px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-title-txt {
  padding-top: 30px;
  
}

.title-team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.networks {
  padding: 0;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 32px 0 32px;
}
.networks-list {
  margin-right: 10px;
}


.team-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  fill: #AFB1B8;
}

.team-icon-link:hover,
.team-icon-link:focus {
  fill: var(--footer-address-text-color);
  background-color: var(--accent-text-color);
}

/* Клієнти */
.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.clients-box {
  display: flex;
  justify-content: center;
}
.clients-title {
  margin-bottom: 50px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.icon-client {
  height: 60px;
  width: 106px;
  fill: currentColor;

}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
 
.icon-client:hover,
.icon-client:focus {
  fill: currentColor;
}


/* підвал */
.footer {
  padding: 60px 0;
  background-color: var(--backgroud-footer-color);
}
.footer-container {
  display: flex;
}
 .footer-list {
  margin-top: 20px;
 }

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  color: var(--weblogo-footer-text-color);
}

.logo-footer .logo-studio-footer {
  color: var(--studiologo-footer-text-color);
}
.contact-footer {
  margin-top: 9px;
}
.footer-address-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-address-text-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-text-color);
}

.footer-contact-link {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-text-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-text-color);
}

.join-list {
  display: flex;
  flex-direction: column;
    padding-left: 70px;
    padding-top: 15px;
}
 .join {
   margin-bottom: 20px;

    color: var(--hero-title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
 }

.footer-box-item {
  margin-right: 10px;
}
.footer-box-list {
  
  display: flex;
  
}

.footer-box-link {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--hero-title-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-box-link:hover,
.footer-box-link:focus {
  background-color: var(--accent-text-color);
}

/* Портфоліо */
/* Кнопки */
.selection {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pf-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-list-item:not(:last-child) {
  margin-right: 8px;
}
.btn {
  display: inline-block;

  border-radius: 4px;
  min-width: 73px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--link-text-color);
  background: var(--background-btn-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-text-color);
  color: var(--hero-title-text-color);
}

/* Головна портфоліо */

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list-item img {
  display: block;
}

.portfolio-list-item {
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  margin-right: 30px;
  display: inline-block;
  cursor: pointer;
}
.portfolio-list-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-align: start;
}

.portfolio-text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
