 $site-text-color: #757575;
 $link-text-color: #212121;
 $contacte-text-color: #757575;
 $title-text-color: #212121;
 $accent-text-color: #2196f3;
 $hero-title-text-color: #ffffff;
 $studiologo-header-text-color: #000000;
 $weblogo-text-color: #2196f3;
 $weblogo-footer-text-color: #2196f3;
 $studiologo-footer-text-color: #ffffff;
 $footer-address-text-color: #ffffff;
 $footer-contact-text-color: rgba(255, 255, 255, 0.6);
 $icon-color: #afb1b8;

 /* Кольори фону */
 $background-site-color: #e5e5e5;
 $backgroud-header-color: #ffffff;
 $background-hero-color: #2f303a;
 $background-btn-color: #f5f4fa;
 $backgroud-footer-color: #2f303a;
 $background-team-color: #f5f4fa;
 $background-btn-hover-kolor: #188ce8;
 $border-color: #eeeeee;