.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits__list {
    justify-content: center;
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
}

.benefits__item {

 &:not(:last-child) {
@media screen and (max-width: 767px) {
    margin-bottom: 30px;
}
 }

@media screen and (min-width: 768px) {
    width: 354px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
}
@media screen and (min-width: 1200px) {
    width: 270px;
    flex-wrap: nowrap;
     
}
}
.benefits__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: $background-team-color;
}

.benefits__title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
    @media screen and (min-width: 1200px) {
            text-align: start;
        }
}

.benefits__text {
    margin: 0;
    letter-spacing: 0.03em;
}