.header {
    border-bottom: 1px solid #ececec;
    background-color: $backgroud-header-color;
    
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

