.hero {
    margin: 0 auto;
    padding-top: 118px;
    max-width: 480px;
    height: 400px;
    background-color: $background-hero-color;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/mob/mob-hero.jpg);
    background-color: $background-hero-color;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image:  linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
     url(../images/mob/mob-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
    .hero {
      max-width: 768px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tab/tab-hero.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/tab/tab-hero@2x.jpg);
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .hero {
      max-width: 1600px;
      height: 600px;
      padding-top: 200px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Hero.jpg);
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/Hero@2x.jpg);
      }
    }
  }

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $hero-title-text-color;


    @media screen and (min-width: 480px) {
            width: 360px;
           
        }
    
        @media screen and (min-width: 1200px) {
            width: 646px;
            font-size: 44px;
            line-height: 1.36;
        }
}