.logo__footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    letter-spacing: 0.03em;
    color: $weblogo-footer-text-color;
}

.logo__footer .studio__footer {
    color: $studiologo-footer-text-color;
}