.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 93px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
    z-index: 100;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: relative;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    background-color: $backgroud-header-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
   
    @media screen and (max-width: 1199px) {  
            max-width: 450px;
            width: calc(100% - 15px * 2);
        }
    
        @media screen and (min-width: 1200px) {    
            max-width: 528px;
        }
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $backgroud-header-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.icon-close {
    color: #000000;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .icon-close {
    color: $accent-text-color;
}

.form-modal {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.b-modal {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: block;
    margin-bottom: 30px;
}

.form-field {
    position: relative;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
}

.form-label {
    position: absolute;
    transform: translateY(-120%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:focus {
    outline: 0;
    border: 1px solid $accent-text-color;
    border-radius: 4px;
}


}
.label-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within>.label-icon {
    fill: $accent-text-color;
}

.form-field-comment {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.comment {
    resize: none;
    
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;


&:focus {
    outline: 0;
    border: 1px solid $accent-text-color;
    border-radius: 4px;
}


}
.agreement-txt {
font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
}

.agreement-link {
    border-bottom: 1px solid $accent-text-color;
    color: $accent-text-color;
}

.label-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.checkbox {
    appearance: none;
    position: absolute;
    
}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 9px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.checkbox-icon {
    background-color: $accent-text-color;
    background-image: url(../images/HW04/icon\ check.svg);
    background-origin: border-box;
    border-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox:checked~.agreement-txt {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-button {

    display: inline-block;
    margin-left: auto;
        margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: $accent-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: $hero-title-text-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover {
    background-color: #188ce8;
}
}