.networks {
    padding: 0;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 32px 0 32px;
}

.networks__list {
    margin-right: 10px;
}

.networks__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    fill: $icon-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    fill: $footer-address-text-color;
    background-color: $accent-text-color;
}
}