.services {
    padding-bottom: 94px;
}

.servise__title {
    margin-bottom: 50px;
}

.services__list {
    display: flex;
}

.servise__item:not(:last-child) {
    margin-right: 30px;
}

.servise__item {
    position: relative;
}

.services__box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
}

.services__txt {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $hero-title-text-color;
}